<%= form_with(model: @article, url: @post_url) do |f| %>
  <% if flash[:alert] %>
  <div id="failed-message" class="form-message">
    <%= flash[:alert] %><span id="times">&times;</span>
  </div>
  <% end %>

  <% if @templates && controller.action_name == 'new' %>
    <% @templates.each do |t| %>
      <%= f.fields_for :templated_articles do |tf| %>
        <p><%= t.title %></p>
        <p><%= tf.text_field :title, { type: 'hidden', value: t.title } %></p>
        <p><%= tf.text_area :body %></p>
        <p><%= tf.text_field :position, { type: 'hidden', value: t.position } %></p>
      <% end %>
    <% end %>
  <% elsif controller.action_name == 'edit' %>
    <%= f.fields_for :templated_articles do |tf| %>
      <p><%= tf.object.title %></p>
      <p><%= tf.text_area :body %></p>
    <% end %>
  <% end %>

  <div id="textarea">
    <%= f.text_area :text, {:id => 'post-content', :placeholder => 'Write your diary'} %>
    <%= f.submit({:id => 'post-button'}) %>
  </div>
<% end %>

<%= form_tag({:controller => 'uploads', :action => 'upload'}, :remote => true, :id => 'upload-dropzone', :class => 'dropzone', multipart: true) do %>
  <div class="fallback">
    <%= file_field_tag('data[file]') %>
  </div>
<% end %>

<%= stylesheet_link_tag    'particular/edit_only.css', media: 'all' %>
<%= javascript_include_tag 'particular/post_button_click.js' %>
<%= javascript_include_tag 'particular/warn_without_saving.js' %>
<%= javascript_include_tag 'particular/no_scroll.js' %>
