<%# TODO: Fix undefined method `articles_path' when articles.body is blank %>
<%= form_with(model: @article, url: @post_url) do |article_form| %>
  <% if flash[:alert] %>
  <div id="failed-message" class="form-message">
    <%= flash[:alert] %><span id="times">&times;</span>
  </div>
  <% end %>

  <% if @templates && controller.action_name == 'new' %>
    <% @templates.each do |template| %>
      <%= article_form.fields_for :templated_articles do |templated_article_form| %>
        <p><%= template.title %></p>
        <p><%= templated_article_form.text_field :title, { type: 'hidden', value: template.title } %></p>
        <p><%= templated_article_form.text_area :body, { value: template.body, placeholder: "Write #{template.title}" } %></p>
        <p><%= templated_article_form.text_field :position, { type: 'hidden', value: template.position } %></p>
      <% end %>
    <% end %>
  <% elsif controller.action_name == 'edit' %>
    <%= article_form.fields_for :templated_articles do |templated_article_form| %>
      <p><%= templated_article_form.object.title %></p>
      <div id="textarea"><%= templated_article_form.text_area :body, { id: 'templated-post-content' } %></div>
    <% end %>
  <% end %>

  <% if @templates.present? || (controller.action_name == 'edit' && @article.templated_articles.present?) %>
    <div>Main diary</div>
  <% end %>
  <div id="textarea">
    <%= article_form.text_area :text, {:id => 'post-content', :placeholder => 'Write your diary'} %>
    <%= article_form.submit({:id => 'post-button'}) %>
  </div>
<% end %>

<%= form_tag({:controller => 'uploads', :action => 'upload'}, :remote => true, :id => 'upload-dropzone', :class => 'dropzone', multipart: true) do %>
  <div class="fallback">
    <%= file_field_tag('data[file]') %>
  </div>
<% end %>

<%= stylesheet_link_tag    'particular/edit_only.css', media: 'all' %>
<%= javascript_include_tag 'particular/post_button_click.js' %>
<%= javascript_include_tag 'particular/warn_without_saving.js' %>
<%= javascript_include_tag 'particular/no_scroll.js' %>
