<%= form_with(model: @article, url: @post_url, id: 'post-form') do |article_form| %>
  <% if flash[:alert] %>
  <div id="failed-message" class="form-message">
    <%= flash[:alert] %><span id="times">&times;</span>
  </div>
  <% end %>

  <div id="form-title">
    <%= @form_title %>
    <%= article_form.submit({ id: 'post-button', value: 'SAVE ARTICLE' }) %>
  </div>

  <% if @templates && controller.action_name == 'new' %>
    <% @templates.each do |template| %>
      <%= article_form.fields_for :templated_articles do |templated_article_form| %>
        <div id="templated-post-title"><%= template.title %></div>
        <div><%= templated_article_form.text_field :title, { type: 'hidden', value: template.title } %></div>
        <div id="textarea"><%= templated_article_form.text_area :body, { value: template.body, placeholder: "Write #{template.title}", id: 'templated-post-body' } %></div>
        <div><%= templated_article_form.text_field :position, { type: 'hidden', value: template.position } %></div>
      <% end %>
    <% end %>
  <% elsif controller.action_name == 'create' %>
    <%= article_form.fields_for :templated_articles do |templated_article_form| %>
      <% next if templated_article_form.object.title.blank? %>
      <div id="templated-post-title"><%= templated_article_form.object.title %></div>
      <div><%= templated_article_form.text_field :title, { type: 'hidden', value: templated_article_form.object.title } %></div>
      <div id="textarea"><%= templated_article_form.text_area :body, { placeholder: "Write #{templated_article_form.object.title}", id: 'templated-post-body' } %></div>
      <div><%= templated_article_form.text_field :position, { type: 'hidden', value: templated_article_form.object.position } %></div>
    <% end %>
  <% elsif controller.action_name == 'edit' || controller.action_name == 'update' %>
    <%= article_form.fields_for :templated_articles do |templated_article_form| %>
      <div id="templated-post-title"><%= templated_article_form.object.title %></div>
      <div id="textarea"><%= templated_article_form.text_area :body, { placeholder: "Write #{templated_article_form.object.title}", id: 'templated-post-body' } %></div>
    <% end %>
  <% end %>

  <% if @templates.present? || ((controller.action_name == 'edit' || controller.action_name == 'update') && @article.templated_articles.present?) %>
    <div id="main-post-title">Main diary</div>
  <% end %>
  <div id="textarea">
    <%= article_form.text_area :text, {:id => 'post-content', :placeholder => 'Write your diary'} %>
  </div>
<% end %>

<%= form_tag({:controller => 'uploads', :action => 'upload'}, :remote => true, :id => 'upload-dropzone', :class => 'dropzone', multipart: true) do %>
  <div class="fallback">
    <%= file_field_tag('data[file]') %>
  </div>
<% end %>

<%= stylesheet_link_tag    'particular/edit_only.css', media: 'all' %>
<%= javascript_include_tag 'particular/warn_without_saving.js' %>
<%= javascript_include_tag 'particular/no_scroll.js' %>
