<%= form_for(:article, url: @post_url) do |f| %>
  <% if flash[:alert] %>
  <div id="failed-message" class="form-message">
    <%= flash[:alert] %><span id="times">&times;</span>
  </div>
  <% end %>

  <div id="textarea">
    <%= f.text_area :text, {:id => 'post-content'} %>
    <%= f.submit({:id => 'post-button'}) %>
  </div>
<% end %>

<%= form_tag({:controller => 'uploads', :action => 'upload'}, :remote => true, :id => 'upload-dropzone', :class => 'dropzone', multipart: true) do %>
  <div class="fallback">
    <%= file_field_tag('data[file]') %>
  </div>
<% end %>

<%= stylesheet_link_tag    'particular/edit_only.css', media: 'all' %>
<%= javascript_include_tag 'particular/post_button_click.js' %>
<%= javascript_include_tag 'particular/warn_without_saving.js' %>
<%= javascript_include_tag 'particular/no_scroll.js' %>
