<% unless @route %>
  <% @page_title       = @year.to_s + ' ' + to_english_month(@month).to_s %>
  <% @page_description = false %>
<% end %>

<% if flash[:notice] %>
  <div id="success-message" class="index-message">
    <%= flash[:notice] %><span id="times">&times;</span>
  </div>
<% end %>

<div id="calendar-outline">
  <div id="calendar-header">
    <%# 去年へのリンク %>
    <% prev_year_calendar = format('%04d', Date.new(@year, @month).prev_year.year).to_s + '/' + format('%02d', Date.new(@year, @month).month).to_s %>
    <h1 id=prev-year>
    <% unless format('%04d', Date.new(@year, @month).year).to_i <= 2000 %>
      <a href="<%= '/' + prev_year_calendar %>"><span class="icon-keyboard_arrow_left"></span><span class="icon-keyboard_arrow_left"></span></a>
    <% end %>
    </h1>
    <%# 先月へのリンク %>
    <% prev_month_calendar = format('%04d', Date.new(@year, @month).prev_month.year).to_s + '/' + format('%02d', Date.new(@year, @month).prev_month.month).to_s %>
    <h1 id=prev-month>
    <% unless format('%04d', Date.new(@year, @month).year).to_i <= 2000 && format('%04d', Date.new(@year, @month).month).to_i === 1 %>
      <a href="<%= '/' + prev_month_calendar %>"><span class="icon-keyboard_arrow_left"></span></a>
    <% end %>
    </h1>
    <%# 月を表示 %>
    <h1 id="year"><%= @year %></h1>
    <h1 id="month"><%= to_english_month(@month, 3) %></h1>
    <%# 来月へのリンク %>
    <% next_month_calendar = format('%04d', Date.new(@year, @month).next_month.year).to_s + '/' + format('%02d', Date.new(@year, @month).next_month.month).to_s %>
    <h1 id="next-month">
      <% unless format('%04d', Date.new(@year, @month).year).to_i >= 2099 && format('%04d', Date.new(@year, @month).month).to_i === 12 %>
      <a href="<%= '/' + next_month_calendar %>"><span class="icon-keyboard_arrow_right"></span></a>
      <% end %>
    </h1>
    <%# 来年へのリンク %>
    <% next_year_calendar = format('%04d', Date.new(@year, @month).next_year.year).to_s + '/' + format('%02d', Date.new(@year, @month).month).to_s %>
    <h1 id=next-year>
      <% unless format('%04d', Date.new(@year, @month).year).to_i >= 2099 %>
      <a href="<%= '/' + next_year_calendar %>"><span class="icon-keyboard_arrow_right"></span><span class="icon-keyboard_arrow_right"></span></a>
      <% end %>
    </h1>
    <% if current_user %>
      <div id="todays-diary-button"><a href="<%= @todays_diary_url %>" id="todays-diary-link"><%= @todays_diary_title %></a></div>
    <% end %>
  </div>

  <div id="calendar-inner-box">

    <% day = 0 %>
    <div id="calendar-wrap"><table id="calendar"><tbody>
    <%# 曜日(Sun, Mon, Tue, Wed, Thu, Fri, Sat)を表示 %>
    <tr>
      <% 7.times do |wday| %>
        <td id="day-of-week" class="<%= to_day_of_week(wday, 3).downcase! %>"><p><%= to_day_of_week(wday, 3) %></p></td>
      <% end %>
    </tr>

    <%# 1日までの空白のボックスを表示 %>
    <% empty_day = 0 %>
    <% while empty_day < Date.new(@year, @month, 1).wday %>
      <td class="day-box <%= to_day_of_week(empty_day, 3).downcase! %>"></td>
      <% empty_day += 1 %>
    <% end %>

    <% @articles.each do |article| %>
      <% post_day = article.day.to_i %>
      <% day += 1 %>
      <%# 次の更新日までリンクなしの数字(日付)を出力 %>
      <% while day < post_day %>
        <% week = Date.new(@year, @month, day).wday %>
        <% if week == 0 %><tr><% end %>
        <td class="day-box <%= to_day_of_week(week, 3).downcase! %>"><p class="day"><%= day %></p></td>
        <% if week == 6 %></tr><% end %>
        <% day += 1 %>
      <% end %>

      <%# 更新日はリンクつきの数字(日付)を出力 %>
      <% date = '/' + format('%04d', article.year) + '/' + format('%02d', article.month) + '/' + format('%02d', article.day) %>
      <% week = Date.new(@year, @month, day).wday %>
      <% if week == 0 %><tr><% end %>
      <td class="day-box post-box <%= to_day_of_week(week, 3).downcase! %>">
        <a href="<%= date %>" class="post-link">
          <p class="day post-day"><%= post_day %><span class="icon-circle"></span></p>
          <% if !current_user && article.date + article.public_in.to_i > adjusted_current_time.to_date %>
            <p class="recent-article lock"><i class="fas fa-lock"></i></p>
          <% elsif current_user && article.date + article.public_in.to_i > adjusted_current_time.to_date %>
            <p class="recent-article lock-open"><i class="fas fa-lock-open"></i></p>
          <% end %>
        </a>
      </td>
      <% if week == 6 %></tr><% end %>
    <% end %>

    <% day += 1 %>
    <%# その月の最終更新日から月末までリンクなしの数字(日付)を出力 %>
    <% while day <= Date.new(@year, @month).end_of_month.day.to_i %>
      <% week = Date.new(@year, @month, day).wday %>
      <% if week == 0 %><tr><% end %>
      <td class="day-box <%= to_day_of_week(week, 3).downcase! %>"><p class="day"><%= day %></p></td>
      <% if week == 6 %></tr><% end %>
      <% day += 1 %>
    <% end %>

    <%# 月末日以降の空白のボックスを表示 %>
    <% empty_day = Date.new(@year, @month, day-1).wday.to_i + 1 %>
    <% while empty_day < 7 %>
      <td class="day-box <%= to_day_of_week(empty_day, 3).downcase! %>"></td>
      <% empty_day += 1 %>
    <% end %>
    </tbody></table></div>

  </div>
</div>

<%= javascript_include_tag 'particular/close_alert_message.js' %>
