<% if @error_message.empty? %>
<% @page_title       = "#{params[:q]}" %>
<% @page_description = "Search results of `#{params[:q]}`." %>
<% else %>
<% @page_title       = 'Search Failed' %>
<% if @failed_keyword.empty? %>
<% @page_description = "#{@error_message} Please try another keyword." %>
<% else %>
<% @page_description = "#{@error_message} `#{@failed_keyword}`. Please try another keyword." %>
<% end %>
<% end %>

<% if @error_message.empty? %>
<div id="search-result-contents">
  <% @results.each do |result| %>
  <% post_link = '/' + format('%04d', result.year) + '/' + format('%02d', result.month) + '/' + format('%02d', result.day) %>
  <a id="search-result-content" href="<%= post_link %>">
    <% post_date = format('%04d', result.year) + ' / ' + format('%02d', result.month) + ' / ' + format('%02d', result.day) %>
    <p id=post-date><%= post_date %></p>
    <p><%= qiita_markdown_summary(result.text) %></p>
  </a>
  <% end %>
</div>

<% if @number_of_pages >= 2 %>
<%= render 'paginator' %>
<% end %>

<% else %>
<div id="search-error-message">
  <h2>Search Failed</h2>
  <% if @failed_keyword.empty? %>
  <p class="reason"><%= @error_message %></p>
  <% else %>
  <p class="reason"><%= @error_message %> "<b><%= @failed_keyword %></b>".</p>
  <% end %>
</div>
<% end %>
