<% @page_title = params[:year] + '/' + params[:month] + '/' + params[:day] %>
<% prev_article_link = '/' + format('%04d', @prev_article.year) + '/' + format('%02d', @prev_article.month) + '/' + format('%02d', @prev_article.day) if @prev_article %>
<% next_article_link = '/' + format('%04d', @next_article.year) + '/' + format('%02d', @next_article.month) + '/' + format('%02d', @next_article.day) if @next_article %>

<% if flash[:notice] %>
  <div id="success-message" class="show-message">
    <%= flash[:notice] %><span id="times">&times;</span>
  </div>
<% end %>

<% if request.smart_phone? && !request.tablet? %>
  <div id="date-description" class="clearfix sp">
    <% if prev_article_link %><a href="<%= prev_article_link %>" id="prev-post"><span class="icon-arrow-left"></span></a><% end %>
    <span id="date"><%= format('%04d', @article.year) %> / <%= format('%02d', @article.month) %> / <%= format('%02d', @article.day) %></span>
    <% if next_article_link %><a href="<%= next_article_link %>" id="next-post"><span class="icon-arrow-right"></span></a><% end %>
  </div>
<% else %>
  <div id="date-description" class="clearfix pc">
    <span id="date"><%= format('%04d', @article.year) %> / <%= format('%02d', @article.month) %> / <%= format('%02d', @article.day) %></span>
    <%= link_to 'Go to this month calendar', '/' + format('%04d', @article.year) + '/' + format('%02d', @article.month), {:id => 'this-month-link'} %>
  </div>
<% end %>

<div id="post-content">
  <%= qiita_markdown(@article.text) %>
</div>

<div id="prev-next-post" class="clearfix">
  <% if prev_article_link %>
    <a href="<%= prev_article_link %>" id="prev-post">
      <% if request.smart_phone? && !request.tablet? %>
        <span class="icon-arrow-left2 icon"></span>
      <% end %>
    </a>
  <% end %>
  <% if next_article_link %>
    <a href="<%= next_article_link %>" id="next-post">
      <% if request.smart_phone? && !request.tablet? %>
        <span class="icon-arrow-right2 icon"></span>
      <% end %>
    </a>
  <% end %>
</div>
