<% @page_title = params[:year] + '/' + params[:month] + '/' + params[:day] %>

<% if flash[:notice] %>
  <div id="success-message" class="show-message">
    <%= flash[:notice] %><span id="times">&times;</span>
  </div>
<% end %>

<div id="date-description" class="clearfix">
  <span><%= format('%04d', @article.year) %> / <%= format('%02d', @article.month) %> / <%= format('%02d', @article.day) %></span>
  <% unless request.smart_phone? && !request.tablet? %>
  <%= link_to 'Go to this month calendar', '/' + format('%04d', @article.year) + '/' + format('%02d', @article.month), {:id => 'this-month-link'} %>
  <% else %>
  <%= link_to 'this month', '/' + format('%04d', @article.year) + '/' + format('%02d', @article.month), {:id => 'this-month-link'} %>
  <% end %>
</div>

<div id="post-content">
  <%= qiita_markdown(@article.text) %>
</div>

<% prev_article_link = '/' + format('%04d', @prev_article.year) + '/' + format('%02d', @prev_article.month) + '/' + format('%02d', @prev_article.day) if @prev_article %>
<% next_article_link = '/' + format('%04d', @next_article.year) + '/' + format('%02d', @next_article.month) + '/' + format('%02d', @next_article.day) if @next_article %>
<div id="prev-next-post" class="clearfix">
  <%= link_to '', prev_article_link, {:id => 'prev-post'} if prev_article_link %>
  <%= link_to '', next_article_link, {:id => 'next-post'} if next_article_link %>
</div>
