<% @page_title       = format('%04d', @article.year).to_s + ' / ' + format('%02d', @article.month).to_s + ' / ' + format('%02d', @article.day).to_s %>
<% @page_description = qiita_markdown_summary(@article.text) %>

<% this_month_link   = '/' + format('%04d', @article.year) + '/' + format('%02d', @article.month) %>
<% prev_article_link = '/' + format('%04d', @prev_article.year) + '/' + format('%02d', @prev_article.month) + '/' + format('%02d', @prev_article.day) if @prev_article %>
<% next_article_link = '/' + format('%04d', @next_article.year) + '/' + format('%02d', @next_article.month) + '/' + format('%02d', @next_article.day) if @next_article %>

<% if flash[:notice] %>
  <div id="success-message" class="show-message">
    <%= flash[:notice] %><span id="times">&times;</span>
  </div>
<% end %>

<div id="post-link-wrapper" class="clearfix">
  <div id="post-link-left-wrapper">
    <a href="<%= this_month_link %>" id="this-month-link">Go to this month’s calendar</a>
  </div>

  <% if current_user %>
  <div id="post-link-right-wrapper">
    <a href="<%= edit_path %>" id="edit-link">Edit the diary</a>
    <% if Rails.env.development? %>
      <%= link_to 'Delete the diary', destroy_path, { id: 'delete-link', method: :delete, data: { confirm: 'Are you sure you want to delete the diary?' } } %>
    <% end %>
  </div>
  <% end %>
</div>

<div id="date-description" class="clearfix">
  <%# prev-post, next-post, date の順番は重要。一番古いポストのときに date に float: right をかけたとき、順番がおかしくなるのを防ぐため %>
  <% if prev_article_link %><a href="<%= prev_article_link %>" id="prev-post"><span class="icon-arrow-left"></span></a><% end %>
  <% if next_article_link %><a href="<%= next_article_link %>" id="next-post"><span class="icon-arrow-right"></span></a><% end %>

  <% if prev_article_link && !next_article_link %>
  <span id="date" class="no-next-post"><%= format('%04d', @article.year) %> / <%= format('%02d', @article.month) %> / <%= format('%02d', @article.day) %></span>
  <% elsif !prev_article_link && next_article_link %>
  <span id="date" class="no-prev-post"><%= format('%04d', @article.year) %> / <%= format('%02d', @article.month) %> / <%= format('%02d', @article.day) %></span>
  <% else %>
  <span id="date"><%= format('%04d', @article.year) %> / <%= format('%02d', @article.month) %> / <%= format('%02d', @article.day) %></span>
  <% end %>
</div>

<% if !current_user && @public_date > Time.zone.today %>
  <div id="show-error-message">
    <h2>Viewing Restriction</h2>
    <p class="reason">This diary will be public at <b><%= @public_date %></b> (in <%= pluralize((@public_date - Time.zone.today).to_i, 'day') %>).</p>
  </div>
<% else %>
  <%= render 'content', prev_article_link: prev_article_link, next_article_link: next_article_link %>
<% end %>

<div id="prev-next-post" class="clearfix">
  <% if prev_article_link && !next_article_link %>
  <a href="<%= prev_article_link %>" id="prev-post" class="no-next-post"><span class="icon-arrow-left2 icon"></span></a>
  <% elsif !prev_article_link && next_article_link %>
  <a href="<%= next_article_link %>" id="next-post" class="no-prev-post"><span class="icon-arrow-right2 icon"></span></a>
  <% elsif prev_article_link && next_article_link %>
  <a href="<%= prev_article_link %>" id="prev-post"><span class="icon-arrow-left2 icon"></span></a>
  <a href="<%= next_article_link %>" id="next-post"><span class="icon-arrow-right2 icon"></span></a>
  <% end %>
</div>
