<%= form_for(:template, url: @post_template_url, html: { id: 'template-form' }) do |f| %>
  <% if flash[:alert] %>
  <div id="failed-message" class="form-message">
    <span><%= flash[:alert] %><span id="times">&times;</span>

    <ul>
      <% @template.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div id="template-form-title">
    <a href="<%= @back_link_url %>"><i id="back-link" class="fas fa-arrow-left"></i></a>
    <%= @template_form_title %>
    <%= f.submit({ id: 'template-post-button' }) %>
  </div>

  <%= f.text_field :title, id: 'template-title', placeholder: 'This field is required. The value of this field will be the template title directly.' %>
  <%= f.text_area :body, { id: 'template-body',  placeholder: 'This field is optional. The value of this field will be filled in to the template post body.' } %>
  <%= f.select :format, ::Template::FORMAT_TYPES %>
  <%= f.check_box :is_private %>
<% end %>

<%= stylesheet_link_tag    'particular/edit_only.css', media: 'all' %>
<%= javascript_include_tag 'particular/warn_without_saving.js' %>
<%= javascript_include_tag 'particular/no_scroll.js' %>
