<%= form_for(:template, url: @post_template_url, html: { id: 'template-form' }) do |f| %>
  <% if flash[:alert] %>
  <div id="failed-message" class="form-message">
    <%= flash[:alert] %><span id="times">&times;</span>
  </div>
  <% end %>

  <div id="template-form-title">
    <%= @template_form_title %>
    <%= f.submit({ id: 'template-post-button', value: 'SAVE TEMPLATE' }) %>
  </div>

  <%= f.text_field :title, placeholder: 'Enter the title. This field is used for template title.', id: 'template-title' %>
  <%= f.text_area :body, { id: 'template-body', placeholder: 'Enter the body. This field is used for placeholder when posting to TemplatedArticle.' } %>
<% end %>

<%= stylesheet_link_tag    'particular/edit_only.css', media: 'all' %>
<%= javascript_include_tag 'particular/post_button_click.js' %>
<%= javascript_include_tag 'particular/warn_without_saving.js' %>
<%= javascript_include_tag 'particular/no_scroll.js' %>
