<% if @templates.count == 0 %>
  <div id="template-contents">
    <p>No templates found</p>
    <div class="clearfix"><a href="/templates/new" id="new-template-link">Create a new template</a></div>
  </div>
<% else %>
  <div id="template-contents">
    <div class="clearfix"><a href="/templates/new" id="new-template-link">Create a new template</a></div>

    <% @templates.each_with_index do |template, index| %>
      <div id="template-content-<%= index + 1 %>" class="template-content draggable">
        <div id="template-title-edit-delete">
          <div id="template-title" class="handle"><%= template.title %></div>
          <div id="template-edit"><a href="/templates/<%= template.uuid %>"><span class="icon-pencil"></a></div>
          <div id="template-delete"><%= link_to "/templates/#{template.uuid}", { method: :delete, data: { confirm: 'Are you sure you want to delete this template?' } } do %><span class="icon-fire"></span><% end %></div>
        </div>

        <% if template.body.present? %>
          <textarea readonly id="template-body" class="handle"><%= template.body %></textarea>
        <% else %>
          <textarea readonly id="template-body" class="no-template-body handle">The template body is empty.</textarea>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<%= javascript_include_tag 'particular/template_sort.js' %>
