<%= form_for(:setting, html: { id: 'template-form' }) do |f| %>
  <% if flash[:alert] %>
  <div id="failed-message" class="form-message">
    <span><%= flash[:alert] %><span id="times">&times;</span>

    <ul>
      <% @setting.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div id="template-form-title">
    <p>Settings</p>
    <%= f.submit({ id: 'template-post-button' }) %>
  </div>

  <label for="template-title">Site title</label>
  <%= f.text_field :site_title, id: 'template-title', placeholder: 'The application site’s title' %>

  <label for="template-title">Site description</label>
  <%= f.text_area :site_description, id: 'template-body', placeholder: 'The application site’s description used for a search engine (recommended 150 characters shorter)' %>

  <label for="template-title">Host name</label>
  <%= f.text_field :host_name, id: 'template-title', placeholder: 'The application site’s URL' %>

  <label for="template-title">Default schedule post days</label>
  <%= f.text_field :default_public_in, { type: 'number', min: 0, id: 'template-title', placeholder: 'The diary will be public in given days' } %>

  <label for="template-title">Next day adjustment hour</label>
  <%= f.text_field :next_day_adjustment_hour, { type: 'number', min: 0, max: 23, id: 'template-title', placeholder: 'It does not go to the next day until given hours' } %>

  <label for="template-title">Google Analytics Tracking ID</label>
  <%= f.text_field :ga_tracking_identifier, id: 'template-title', placeholder: 'UA-123456789-0' %>

  <label for="template-title">Launched since</label>
  <%= f.text_field :launched_since, { type: 'number', min: 0, id: 'template-title', disabled: true } %>
<% end %>

<%= javascript_include_tag 'particular/warn_without_saving.js' %>
<%= javascript_include_tag 'particular/no_scroll.js' %>
