<!DOCTYPE html>
<html>
<head>
  <% if Setting.last&.ga_tracking_identifier.present? %>
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Setting.last&.ga_tracking_identifier %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= Setting.last&.ga_tracking_identifier %>');
      </script>
    <% elsif Rails.env.development? %>
      <script>alert('Google Analytics is enabled successfully.\nTracking ID: <%= Setting.last&.ga_tracking_identifier %>');</script>
    <% end %>
  <% end %>

  <title><%= page_title %></title>
  <% if page_description %>
    <meta name="description" content="<%= page_description %>">
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= favicon_link_tag('/favicon.png') %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <% if current_user %>
  <%= javascript_include_tag 'particular/signed_in_config.js' %>
  <%= javascript_include_tag 'particular/close_alert_message.js' %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <div id="header" class="clearfix">
        <ul id="left-header">
          <li>
            <%= form_tag('/search', method: 'get', enforce_utf8: false, :id => 'search-form') do %>
              <%= text_field_tag(:q, "#{params[:q]}", :placeholder => 'Search', :id => 'search') %>
              <%= button_tag '', :type => 'submit', :name => '', :id => 'search-button', :class => 'icon-search' %>
            <% end %>
          </li>
        </ul>

        <ul id="hamburger">
          <li class="right-edge"><span id="hamburger-icon" class="icon-menu"></span></li>
        </ul>
        <div class="hamburger-menu">
          <ul>
            <li><a href="https://noraworld.com" target="_blank"><span class="icon-home"></span>Portfolio</a></li>
            <li><a href="https://noraworld.blog" target="_blank"><span class="icon-quill"></span>Blog</a></li>
            <li><a href="https://twitter.com/noraworld_com" target="_blank"><span class="icon-twitter"></span>Twitter</a></li>
            <li><a href="https://mastodon.noraworld.com/@noraworld" target="_blank"><i class="fab fa-mastodon" style="font-size: 21px;"></i>Mastodon</a></li>
            <li><a href="https://www.instagram.com/noraworld_com/" target="_blank"><span class="icon-instagram"></span>Instagram</a></li>
            <li><a href="https://github.com/noraworld/diary" target="_blank"><span class="icon-github"></span>GitHub</a></li>
            <li><a href="https://qiita.com/noraworld" target="_blank"><span class="icon-search"></span>Qiita</a></li>
            <% if current_user %>
              <li><%= link_to '/templates' do %><span class="icon-plus"></span>Template list<% end %></li>
              <li><%= link_to '/settings' do %><span class="icon-cog"></span>Settings<% end %></li>
              <li><%= link_to logout_path, method: :delete, data: { confirm: 'Are you sure you want to sign out?' } do %><span class="icon-switch"></span>Logout<% end %></li>
            <% end %>
          </ul>
        </div>

        <ul id="header-logo">
          <a href="/"><img src="/favicon.png"></a>
        </ul>

        <% unless request.smart_phone? && !request.tablet? %>
        <ul id="right-header">
          <li><a href="https://noraworld.com" target="_blank" tabindex="-1"><span class="icon-home"></span></a></li>
          <li><a href="https://noraworld.blog" target="_blank" tabindex="-1"><span class="icon-quill"></span></a></li>
          <li><a href="https://twitter.com/noraworld_com" target="_blank" tabindex="-1"><span class="icon-twitter"></span></a></li>
          <li><a href="https://mastodon.noraworld.com/@noraworld" target="_blank" tabindex="-1"><i class="fab fa-mastodon" style="font-size: 21px;"></i></a></li>
          <li><a href="https://www.instagram.com/noraworld_com/" target="_blank" tabindex="-1"><span class="icon-instagram"></span></a></li>
          <li><a href="https://github.com/noraworld/diary" target="_blank" tabindex="-1"><span class="icon-github"></span></a></li>
          <li><a href="https://qiita.com/noraworld" target="_blank" tabindex="-1"><span class="icon-search"></span></a></li>

          <% if current_user %>
          <a id="config" class="icon-cog"></a>
          <div id="listbox">
            <ul>
              <li class="menulist"><%= link_to 'Templates', '/templates', { :class => 'menulink' } %></li>
              <li class="menulist"><%= link_to 'Timeline', '/timeline', { :class => 'menulink' } %></li>
              <li class="menulist"><%= link_to 'Settings', '/settings', { :class => 'menulink' } %></li>
              <li class="menulist"><%= link_to 'Sign out', logout_path, { :class => 'menulink', method: :delete, data: { confirm: 'Are you sure you want to sign out?' } } %></li>
            </ul>
          </div>
          <% end %>
        </ul>
        <% end %><%# スマホではヘッダー右側のリンク一覧を表示させない %>
      </div>
    </header>

    <%= yield %>

    <footer id="footer" class="clearfix">
      <section id="copyright">Copyright &copy; <%= copyright_year %> <%= link_to site_title, '/', { :tabindex => -1 } %>. All rights reserved.</section>
    </footer>
  </div>
</body>
</html>
