<!DOCTYPE html>
<html>
<head>
  <title>Diary</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id="header" class="clearfix">
      <ul id="homeicon">
        <li><a href="/"><span class="icon-calendar"></span></a></li>
      </ul>

      <ul>

        <li><a href="http://noraworld.jp">Home</a></li>
        <li><a href="http://blog.noraworld.jp">Blog</a></li>
        <li><%= link_to 'Diary', '/' %></li>
        <li><a href="https://twitter.com/noraworlds" target="_blank"><span class="icon-twitter"></span></a></li>
        <li><a href="https://www.instagram.com/noraworlds" target="_blank"><span class="icon-instagram"></span></a></li>
        <li><a href="https://github.com/noraworld" target="_blank"><span class="icon-github"></span></a></li>
        <li><a href="http://qiita.com/noraworld" target="_blank"><span class="icon-search"></span></a></li>

        <% if current_user  != nil %>
          <span id="config" class="icon-cog"></span>
          <div id="listbox">
            <ul>
              <% case controller.action_name %>
              <% when 'index' %>
              <li class="menulist"><%= link_to 'New post', '/new', { :class => 'menulink' } %></li>
              <li class="menulist"><%= link_to 'Sign out', logout_path, { :class => 'menulink', method: :delete } %></li>
              <% when 'show' %>
              <% date = '/' + format('%04d', @article.year) + '/' + format('%02d', @article.month) + '/' + format('%02d', @article.day) %>
              <li class="menulist"><%= link_to 'Edit post', '/edit' + date, { :class => 'menulink' } %></li>
              <% when 'new' %>
              <li class="menulist"><span class="menulink" id="publish-link">Publish post</span></li>
              <% when 'edit' %>
              <% date = '/' + format('%04d', @article.year) + '/' + format('%02d', @article.month) + '/' + format('%02d', @article.day) %>
              <li class="menulist"><span class="menulink" id="update-link">Update post</span></li>
              <li class="menulist"><%= link_to 'Delete post', '/destroy' + date, { :class => 'menulink', :id => 'delete-link', method: :delete, data: {confirm: 'Are you sure you want to delete?'} } %></li>
              <% end %>

            </ul>
          </div>
        <% end %>

      </ul>
    </div>
  </header>

  <%= yield %>

  <footer id="footer" class="clearfix">
    <section id="copyright">Copyright &copy; 2016 <%= link_to 'Noraworld Diary', '/' %>. All rights reserved.</section>
  </footer>
</body>
</html>
