<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <meta name="description" content="Noraworld Diary is a simple and personal diary for me. Everyday events, foods, thoughts and other miscellaneous contents.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= favicon_link_tag('/favicon.png') %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <% if current_user %>
  <%= javascript_include_tag 'particular/signed_in_config.js' %>
  <%= javascript_include_tag 'particular/close_alert_message.js' %>
  <%= javascript_include_tag 'particular/upload.js' %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <div id="header" class="clearfix">
        <ul id="left-header">
          <li class="left-edge"><a href="/" tabindex="-1"><span class="icon-calendar"></span></a></li>
          <li>
            <%= form_tag('/search', method: 'get', enforce_utf8: false, :id => 'search-form') do %>
              <%= text_field_tag(:q, "#{params[:q]}", :placeholder => 'Search', :id => 'search') %>
            <% end %>
          </li>
        </ul>

        <ul id="hamburger">
          <li class="right-edge"><span class="icon-menu"></span></li>
        </ul>
        <div class="hamburger-menu">
          <ul>
            <li><a href="https://noraworld.jp"><span class="icon-home"></span>Portfolio</a></li>
            <li><a href="https://noraworld.blog"><span class="icon-quill"></span>Blog</a></li>
            <li><a href="https://twitter.com/noraworld_jp" target="_blank"><span class="icon-twitter"></span>Twitter</a></li>
            <li><a href="https://www.instagram.com/noraworld_jp" target="_blank"><span class="icon-instagram"></span>Instagram</a></li>
            <li><a href="https://github.com/noraworld" target="_blank"><span class="icon-github"></span>GitHub</a></li>
            <li><a href="http://qiita.com/noraworld" target="_blank"><span class="icon-search"></span>Qiita</a></li>
            <% if current_user %>
            <% case controller.action_name %>
            <% when 'index', 'search' %>
            <li><%= link_to '/new' do %><span class="icon-plus"></span>New post<% end %></li>
            <li><%= link_to logout_path, method: :delete do %><span class="icon-switch"></span>Logout<% end %></li>
            <% when 'show' %>
            <% date = '/' + format('%04d', @article.year) + '/' + format('%02d', @article.month) + '/' + format('%02d', @article.day) %>
            <li><%= link_to '/edit' + date do %><span class="icon-pencil"></span>Edit post<% end %></li>
            <% when 'new', 'create' %>
            <li><a href="#" id="publish-link"><span class="icon-upload"></span>Publish post</a></li>
            <% when 'edit', 'update' %>
            <% date = '/' + format('%04d', @article.year) + '/' + format('%02d', @article.month) + '/' + format('%02d', @article.day) %>
            <li><a href="#" id="update-link"><span class="icon-loop2"></span>Update post</a></li>
            <li><%= link_to '/destroy' + date, { :id => 'delete-link', method: :delete, data: {confirm: 'Are you sure you want to delete?'} } do %><span class="icon-fire"></span>Delete post</li><% end %>
            <% end %>
            <% end %>
          </ul>
        </div>

        <% unless request.smart_phone? && !request.tablet? %>
        <ul id="right-header">
          <li><a href="https://noraworld.jp" tabindex="-1">Home</a></li>
          <li><a href="https://noraworld.blog" tabindex="-1">Blog</a></li>
          <li><%= link_to 'Diary', '/', { :tabindex => -1 } %></li>
          <li><a href="https://twitter.com/noraworld_jp" target="_blank" tabindex="-1"><span class="icon-twitter"></span></a></li>
          <li><a href="https://www.instagram.com/noraworld_jp" target="_blank" tabindex="-1"><span class="icon-instagram"></span></a></li>
          <li><a href="https://github.com/noraworld" target="_blank" tabindex="-1"><span class="icon-github"></span></a></li>
          <li><a href="http://qiita.com/noraworld" target="_blank" tabindex="-1"><span class="icon-search"></span></a></li>

          <% if current_user %>
          <a id="config" class="icon-cog"></a>
          <div id="listbox">
            <ul>
              <% case controller.action_name %>
              <% when 'index', 'search' %>
              <li class="menulist"><%= link_to 'New post', '/new', { :class => 'menulink' } %></li>
              <li class="menulist"><%= link_to 'Sign out', logout_path, { :class => 'menulink', method: :delete } %></li>
              <% when 'show' %>
              <% date = '/' + format('%04d', @article.year) + '/' + format('%02d', @article.month) + '/' + format('%02d', @article.day) %>
              <li class="menulist"><%= link_to 'Edit post', '/edit' + date, { :class => 'menulink' } %></li>
              <% when 'new', 'create' %>
              <li class="menulist"><a class="menulink" id="publish-link">Publish post</a></li>
              <% when 'edit', 'update' %>
              <% date = '/' + format('%04d', @article.year) + '/' + format('%02d', @article.month) + '/' + format('%02d', @article.day) %>
              <li class="menulist"><a class="menulink" id="update-link">Update post</a></li>
              <li class="menulist"><%= link_to 'Delete post', '/destroy' + date, { :class => 'menulink', :id => 'delete-link', method: :delete, data: {confirm: 'Are you sure you want to delete?'} } %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </ul>
        <% end %><%# スマホではヘッダー右側のリンク一覧を表示させない %>
      </div>
    </header>

    <%= yield %>

    <footer id="footer" class="clearfix">
      <section id="copyright">Copyright &copy; 2016-<%= Time.now.in_time_zone('Tokyo').strftime('%Y').to_s %> <%= link_to 'Noraworld Diary', '/', { :tabindex => -1 } %>. All rights reserved.</section>
    </footer>
  </div>
</body>
</html>
